<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Campaign</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body class="bg-light">



    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Create Campaign</a>
            <a href="{{url_for('adminpage')}}">
                <button type="button" class="btn btn-warning">Go Back</button>
              </a>
        </div>
        </div>
    </nav>

    

    <br><br>
    <div class="container">
        <main>

            <div class="row g-5">
                <div class="col-md-7 col-lg-8">

                    <form class="needs-validation" method=POST>
                        <div class="row g-3">
                            <br>

                            <div class="col-12">
                                <label for="campaign_id" class="form-label">Campaign ID</label>
                                <div class="input-group has-validation">
                                    <input type="number" class="form-control" id="campaign_id" name="campaign_id"
                                        placeholder="" required>
                                    <div class="invalid-feedback">
                                        Campaign ID is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="campaign_name" class="form-label">Campaign Name</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" id="campaign_name"
                                        name="campaign_name" placeholder="" required>
                                    <div class=" invalid-feedback">
                                    Campaign name is required.
                                </div>
                            </div>

                            <div class="">
                                <label for="candidate1" class="form-label">Candidate 1 Aadhaar Number</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" id="candidate1"
                                        name="candidate1" placeholder="" minlength=12 maxlength=12>
                                    <div class=" invalid-feedback">
                                    Candidate is required.
                                </div>
                            </div>

                            <div class="">
                                <label for="candidate2" class="form-label">Candidate 2 Aadhaar Number</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" id="candidate2"
                                        name="candidate2" placeholder="" minlength=12 maxlength=12>
                                    <div class=" invalid-feedback">
                                    Candidate is required.
                                </div>
                            </div>

                            <div class="">
                                <label for="candidate3" class="form-label">Candidate 3 Aadhaar Number</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" id="candidate3"
                                        name="candidate3" placeholder="" minlength=12 maxlength=12>
                                    <div class=" invalid-feedback">
                                    Candidate is required.
                                </div>
                            </div>

                            <div class="">
                                <label for="candidate4" class="form-label">Candidate 4 Aadhaar Number</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" id="candidate4"
                                        name="candidate4" placeholder="" minlength=12 maxlength=12>
                                    <div class=" invalid-feedback">
                                    Candidate is required.
                                </div>
                            </div>

                        </div>


                </div>

                <hr class="my-4">

            </div>


            <button class="w-100 btn btn-primary btn-lg" type="submit">Create Campaign</button>
            
        </form>

    </div>
    </div>
    </main>

</body>

</html>